html, body {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
   background-color: #f8f8f8;
   font-weight: normal;
}
.container{
   background-color: #fff;
}

#gameinfo{
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 14px;
}

.leftbar{
	text-align:center;
}
#scoreinfo{
	font-size:16pt;
}
#gamemodeselect{
    border: 2px solid #777;
    padding-bottom: 5px;
    border-radius: 8px;
    margin-right: -5px;
    margin-left: 5px;
}
#gamemodeselect ul{
	padding-left:8px;
	padding-right:8px;
}
#gamemodeselect ul li a{
	font-size:8pt;
}
#missilecanvas{
	background:url('screenshot.png');
	background-repeat:no-repeat;
}

#pullreqmain{
    border: 2px solid silver;
    padding: 8px;
    border-radius: 6px;
    display: none;
}
#pulllabel{
	border: 1px solid #CACACA;
	background-color: whitesmoke;
	padding: 8px;
	width:70%;
	float:left;
}
#pulliconcontainer{
	width:20%;
	float:left;
}
#pullicon{
	width:60px;
	margin:10px;
}